<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  <% @users.each do |user| %>
    <div class="bg-white p-4 rounded-lg shadow-md">
      <div class="flex items-center space-x-4">
        <div class="w-12 h-12 rounded-full overflow-hidden">
  <% if user.photo.attached?
 %>
    <%= image_tag user.photo, class: 'w-full h-full object-cover rounded-full user-profile' %>
<% else %>
  <%= image_tag 'https://media.istockphoto.com/id/1300845620/vector/user-icon-flat-isolated-on-white-background-user-symbol-vector-illustration.jpg?s=612x612&w=0&k=20&c=yBeyba0hUkh14_jgv1OKqIH0CCSWU_4ckRkAoy2p73o=', alt: 'Default Profile', class: 'w-full h-full object-cover rounded-full user-profile' %>
<% end %>

</div>



<div class="flex flex-row gap-3 justify-between items-center">

          <h2 class="text-lg font-semibold"><%= user.name %></h2>
          <p class="text-gray-600"><%= pluralize(user.posts.count, 'post') %></p>
        </div>
      </div>
      <div class="mt-4">
        <%= link_to 'View Profile', user, class: 'text-blue-500 hover:underline' %>
      </div>
    </div>
  <% end %>
</div>
