<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
<header class="bg-blue-500 p-4 text-white">
  <div class="container mx-auto flex justify-between items-center">
    <div class="text-xl font-bold">
      <a href="/">ConakryChronicles</a>
    </div>
    <nav>
      <ul class="flex space-x-4">
        
<li><a href="/posts/new">Add Post</a></li>

        
<li><a href="/posts">All Posts</a></li>

      </ul>
    </nav>
  </div>
</header>
<main class="container mx-auto p-4 sm:p-8 md:p-12 lg:p-16">
  <%= yield %>
</main>



  </body>
</html>
